{% extends 'paginas/base.html' %} 
{% block conteudo %}


    <div class="texto">
        <h2>Olá, Usuário!</h2>
        <h1>Caçadores de Bons Exemplos</h1>

        <div class="buttons">
            <button class="btn btn-primary">Projetos</button><br>
            <button class="btn btn-primary">Caçadores</button><br>
            <button class="btn btn-primary">Chat Geral</button><br>
            <button class="btn btn-primary">voluntarios</button><br>
            <button class="btn btn-primary">Divulga+</button><br>
        </div>
        <p>Boa comunicação é a chave</p>
    </div>

{% endblock %}

